.registration-header {
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
    color: #fff;
    text-align: center;
}

.registration-form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.registration-input {
    width: 400px;
    margin-top: 10px;
}

.registration-btn {
    margin-top: 10px;
}
.btns-wrapper {
    display: flex;
    flex-direction: column;
}
  